* {margin:0}
body {
	font-family: "Museo";
	background: #79977d;
}
ul,li,a {
	list-style:none;
	margin:0;
	padding:0;
	text-decoration:none;
}
.clear {
	clear:both;
}
.container {
	width:960px;
	margin:auto;
}

.white {
	background-color:#fff;
	width:1020px;
	margin:auto;
} 

.menu-fr {
	margin-top:25px;
	height:120px;
} 
.menu-fr .menu {
	float:right;
}
.menu-fr .menu-logo {
	width:150px;
}
.menu-fr .menu-detail {
	float:left;
}
.menu-fr .menu-detail .menu li {
	border:solid 1px #7da34b;
	box-sizing:border-box;
	width:145px;
	height:70px;
	float:left;
	border-radius:5px;
}
.menu-fr .menu-detail .search-fr {
	float:right;
}
.menu-fr .menu-detail .menu {
	float:right;
	text-align:center;
}
.menu-fr .menu-detail .menu li {
	padding-top:25px;
}
.menu-fr .menu-detail .menu li a{
	font-size:16px;
	color:#999;
}
.menu-fr .menu-detail .menu li{
	background:linear-gradient(#CCC,#fff);	
}
.menu-fr .menu-detail .menu li:first-child {
	background:linear-gradient(#6a8b53,#a0c471);
}
.menu-fr .menu-detail .menu li:first-child a{
	color:#fff;	
}
.menu-fr .menu-detail .search-fr img{
	float:left;
	width:30px;
}
.menu-fr .menu-detail .search-fr input{
	float:left;
	border:solid 1px #d9e9c4;
	height:25px;
	width:250px;
	margin-left:10px;
}
.title {
	font-weight:normal;
	font-size:25px;
	font-style:italic;
	color:#6a8c53;
}
.so-luoc .title {
	margin-top:100px;
	margin-right:20px;
	border-bottom: 1px solid #efefef;
}
	
