* { margin:0; }

@font-face {
	font-family: "Museo";
	src: url(../fonts/VNF_Museo_Slab_500.ttf);
}

body {
	font-family: "Museo";
	background: linear-gradient(#6a8b53,#a0c471);
}

ul,li {
	list-style:none;
	margin:0;
	padding:0;
}

a {
	text-decoration:none;
}
.clear {
	clear:both;
}

.container {
	width:960px;
	margin:auto;
}

.white {
	background-color:#fff;
	width:1020px;
	margin:auto;
	border-radius:10px;
	margin-top:80px;
} 

.menu-fr {
	margin-top:25px;
	height:120px;
}

.menu-fr .logo {
	float:left;
}

.menu-fr .menu-detail {
	float:right;
}

.menu-fr .menu-detail .menu li {
	border:solid 1px #CCC;
	box-sizing:border-box;
	float:left;
	border-radius:5px;
	background:linear-gradient(#CCC,#fff);	
}

.menu-fr .menu-detail .search-fr {
	float:right;
	margin-bottom:18px;
}

.menu-fr .menu-detail .menu {
	float:right;
	text-align:center;
}

.menu-fr .menu-detail .menu li a{
	font-size:16px;
	color:#999;
	display:block;
	padding:25px 35px;
}

.menu-fr .menu-detail .menu li:first-child {
	background:linear-gradient(#6a8b53,#a0c471);
}

.menu-fr .menu-detail .menu li:first-child a {
	color:#fff;	
}

.menu-fr .menu-detail .search-fr img {
	float:left;
	width:30px;
}

.menu-fr .menu-detail .search-fr input {
	float:left;
	border:solid 1px #d9e9c4;
	height:25px;
	width:250px;
	margin-left:10px;
}

.candle-type {
	margin-top:25px;
	border-bottom:1px solid #efefef;
	padding-bottom:20px;
}

.candle-type .type-title {
	float:left;
	font-size:27px;
	color:#3e5930;
	margin-right:210px;
}

.candle-type .type-title:nth-child(3) {
	margin-right:0;
}

.candle-fr {
	margin-top:25px;
}
.candle-fr .type {
	float:left;
	margin-right:21px;
	width:306px;
}

.candle-fr .type .type-title {
	border-bottom:1px solid #efefef;
}

.candle-fr .type:nth-child(3) {
	margin-right:0;
}

.candle-fr .type .type-effect {
	font-size:14px;
	color:#3e5930;
	margin-top:30px; 
}

.candle-fr .type .type-effect:nth-child(4) {
	margin-top:20px;
}

.candle-fr .type .type-content {
	font-size:14px;
	margin-top:5px;
}

.candle-fr .type img {
	margin-top:40px;
}

.candle-fr .type a {
	margin-top:30px;
	font-size:14px;
	color:#fff;
	font-style:italic;
	border:none;
	background:linear-gradient(#6a8b53,#a0c471);
	border-radius:5px;
	padding:15px 20px;
	display:inline-block;
}

.green {
	width:1020px;
	margin-top:75px;
	background:linear-gradient(#0F3,#FFF};
}
/* Start About Page */

.content {
	background: url('../img/about-bg.png') no-repeat right bottom;
}
	
.content .title {
	font-weight:200;
	margin-top:30px;
}
.content .tks {
	color:#6a8c53;
}
.content .space {
	padding-left:20px;
}

.title {
	font-weight:normal;
	font-size:25px;
	font-style:italic;
	color:#6a8c53;
}

.so-luoc {
	border-bottom: 1px solid #efefef;
	padding-bottom:10px;
}

.so-luoc .title {
	margin-top:100px;
	margin-right:20px;
}

/* End About Page */
